html,body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    
}

.container{
width: 100%;}
.navbar .navbar-nav > li a:hover {
    background: transparent !important; 
}

.navbar{
    background-color: black;
    margin: auto;
}

.navbar li a{
    color: white;
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.5s;
}

.navbar li a:hover{
    border-color: white;
} 

.icon-bar{
    background: white;
}

.navbar-brand{
    padding-left: 15px;
    padding-top: 0
}
.navbar-brand img{
    height: 50px;
}footer

.text{
    width: 80%;
    margin: auto;   
}

.row{
 background: #f1f1f1;
}
.col-md-4{
    height: 40%;
}

.blockquote{
    margin: 0;
    padding: 10%;
    
}


